environment:
  matrix:
  - julia_version: 1.5
  - julia_version: nightly
platform:
  - x64
matrix:
  allow_failures:
  - julia_version: nightly
branches:
  only:
    - master
    - /release-.*/
    - dev
  except:
    - gh-pages
notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false
install:
  - ps: Invoke-Expression ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/JuliaCI/Appveyor.jl/version-1/bin/install.ps1"))
  - git clone https://github.com/JuliaRegistries/General.git %USERPROFILE%\.julia\registries\General
  - git clone https://github.com/kyungminlee/KyungminLeeRegistry.jl.git %USERPROFILE%\.julia\registries\KyungminLeeRegistry
build_script:
  - echo "%JL_BUILD_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_BUILD_SCRIPT%"
test_script:
  - echo "%JL_TEST_SCRIPT%"
  - C:\julia\bin\julia -e "%JL_TEST_SCRIPT%"
